:root {
  --c-color-1: #ef6d58;
  --c-color-2: #f3d1bf;
  --c-color-3: #f3d1bf;
  --c-color-4: #391400;
  --c-color-5: #3a3c56;
  --c-color-white2: #dfe0e9;
  --c-color-white1: #ffffff;
  --c-color-black: #000101;
  --c-black-50: #0d1321;
  --c-black-20: #343434;
}
