:root {
  --color-1: #ef6d58;
  --color-2: #f3d1bf;
  --color-3: #f3d1bf;
  --color-4: #391400;
  --color-5: #3a3c56;
  --color-background: #28293e;
  --color-white: #ffffff;
  --color-black: #000101;
  --color-black-50: #0d1321;
  --color-black-20: #343434;
}
