@mixin heading-1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 800;
}
@mixin heading-2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 800;
}
@mixin heading-3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
}
@mixin heading-4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@mixin heading-5 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
@mixin label {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}
@mixin text-big {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
@mixin text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
@mixin text-grey {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--c-black-20);
}
@mixin text-small {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
@mixin button-transparent {
  background-color: transparent;
  padding: 18px 36px;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--f-primary);
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 6px;
}
@mixin button-primary {
  padding: 18px 36px;
  background-color: var(--color-1);
  font-weight: 900;
  font-size: 14px;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--f-primary);
  cursor: pointer;
  border-radius: 6px;
}

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
