.header {
  display: flex;
  background-color: var(--color-background);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 24px;
  @include breakpoint('desktop') {
    @include boxed-d;
  }
  position: relative;
  height: 120px;
  &__logo {
    width: 152px;
    height: 48px;
    cursor: pointer;
  }
  &__menu {
    .menu-items {
      position: absolute;
      background-color: var(--color-background);
      width: 100vw;
      left: 0;
      top: 0px;
      height: 100vh;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-content: center;
      display: none;

      @include breakpoint('desktop') {
        display: block;
        position: relative;
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-content: center;
      }
      .menu-item {
        list-style-type: none;
        padding: 20px 0px;
        font-weight: 900;
        font-family: var(--f-primary);
        cursor: pointer;

        @include breakpoint('desktop') {
          padding: 0px 40px;
        }
        a {
          color: var(--color-white);
          text-decoration: none;
          font-size: 32px;
          font-weight: 800;
          cursor: pointer;
          &:hover {
            border-bottom: 2px solid var(--color-1);
          }
          @include breakpoint('desktop') {
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
          }
        }
      }
    }
  }
  &__cta {
    border: none;
    display: none;
    @include button-transparent;
    @include breakpoint('desktop') {
      display: block;
    }
  }
  &__toggle {
    border: none;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background: transparent;
    background-image: url('/img/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    @include breakpoint('desktop') {
      display: none;
    }
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
